.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.css-kp7jxz {
  text-align: left;
}
@media all and (max-width: 500px)
{
  .css-fh38mo {
    flex-direction: column !important;
    margin: auto 32px;
    padding-top: 16px !important;
  }
  .css-1ubt5ct {
    
    flex-wrap: nowrap;
    min-height: 180px !important;
    margin: 15px !important;
  }
}

@media all and (max-width: 800px)
{
  .css-fh38mo {
    margin: auto 32px;
  }
  .css-1ubt5ct {
    
    flex-wrap: nowrap;
    min-height: 180px !important;
    margin: 15px !important;
  }
}